/* @import "/static/css/select.css"; */
/* @import "/static/css/input.css"; */
/* @import "/static/css/button.css"; */
/* @import "/static/css/table.css"; */
/* @import "/static/css/font.css"; */
/* @import "/static/css/tip.css"; */
/* @import "/src/lib/fontawesome-free-5.5.0-web/css/all.min.css"; */

* {
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  outline: none;
  font: 14px/1.8 '微软雅黑','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53';
  color: white;
}

body {
    margin: 0;
    background: rgb(22, 22, 22);
}

.row {
  padding: 10px 0;
}

.inline {
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .lg1 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg2 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg3 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg4 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg5 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg6 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg7 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg8 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg9 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg10 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg11 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg12 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg13 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg14 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg15 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .lg16 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}

@media only screen and (min-width: 500px) {
  .lg1 {
      display: inline-block;
      vertical-align: middle;
      width: 6.25%;
  }
}
@media only screen and (min-width: 500px) {
  .lg2 {
      display: inline-block;
      vertical-align: middle;
      width: 12.5%;
  }
}
@media only screen and (min-width: 500px) {
  .lg3 {
      display: inline-block;
      vertical-align: middle;
      width: 18.75%;
  }
}
@media only screen and (min-width: 500px) {
  .lg4 {
      display: inline-block;
      vertical-align: middle;
      width: 25%;
  }
}
@media only screen and (min-width: 500px) {
  .lg5 {
      display: inline-block;
      vertical-align: middle;
      width: 31.25%;
  }
}
@media only screen and (min-width: 500px) {
  .lg6 {
      display: inline-block;
      vertical-align: middle;
      width: 37.5%;
  }
}
@media only screen and (min-width: 500px) {
  .lg7 {
      display: inline-block;
      vertical-align: middle;
      width: 43.75%;
  }
}
@media only screen and (min-width: 500px) {
  .lg8 {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
  }
}
@media only screen and (min-width: 500px) {
  .lg9 {
      display: inline-block;
      vertical-align: middle;
      width: 56.25%;
  }
}
@media only screen and (min-width: 500px) {
  .lg10 {
      display: inline-block;
      vertical-align: middle;
      width: 62.5%;
  }
}
@media only screen and (min-width: 500px) {
  .lg11 {
      display: inline-block;
      vertical-align: middle;
      width: 68.75%;
  }
}
@media only screen and (min-width: 500px) {
  .lg12 {
      display: inline-block;
      vertical-align: middle;
      width: 75%;
  }
}
@media only screen and (min-width: 500px) {
  .lg13 {
      display: inline-block;
      vertical-align: middle;
      width: 81.25%;
  }
}
@media only screen and (min-width: 500px) {
  .lg14 {
      display: inline-block;
      vertical-align: middle;
      width: 87.5%;
  }
}
@media only screen and (min-width: 500px) {
  .lg15 {
      display: inline-block;
      vertical-align: middle;
      width: 93.75%;
  }
}
@media only screen and (min-width: 500px) {
  .lg16 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }
}